$borders : 1px solid #c2cfd6;
.main {
    background-color: #423f4e;
    opacity: 0.7;
    height: 400px;
    width: 100%;
  
}


.main .main-child {
    padding:15px;
    position: absolute;
    background-color:white;
    height: 220px;
    width: 400px;
      margin-top:50px;
    margin-left:450px;
    border-radius: 5px;
}
label {
    width:100%
}
input {
    width:100%;
    padding:5px;
    /* border-color:#c4c4c4; */
    border-radius:5px;
    border:1px solid #c4c4c4;
}

.password {
    padding:0px;
}
.submit{
    padding: 5px;
    margin-top:10px;
    text-align: center;
}

.headernavbar {
    position: relative;
    display: flex;
     flex-direction: row;
     height: 70px !important;
     padding: 0;
     margin: 0;
     background-color: #fff;
     border-bottom: $borders;
     i{
        text-align: end;
        margin-left: 20px;
        color: blue;
    }
   
     p {
         text-align: left; 
         width:100%;
         font-size: 30px;
         font-family: monospace;
         padding:15px;
     }
     button {
     height: 35px;
     width: 101px;
    margin-right: 20px;
     margin-top: 20px;
    }
}


/* background-color:#314D68; */