.aside-menu {
    background-color: #3f4457;
    left : 0;
    flex-direction: column;
    top : 0;
    height: 590px;
    width:200px;
    margin:0;
    padding : 0;
    position: relative;
    a {
    text-align: end;
    color: white !important;
    padding-left:15px;
    }
    ul {
        margin:10px;
        padding: 10px;
    }
    mat-icon {
        color:white;padding:2px;
    }
    .setting {
        display: flex;
        z-index: 99;
        margin-top: 20px;
        position: relative;
    }
    .settingtype {
        position: absolute;
        top:90px;
        right:0px;
    }
    .adminBoard {
        background-color:whitesmoke;
        height:30px;
        p{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 14px;
            text-transform: uppercase;
            display: inline-block;
        }
    }
}